# Python-specific
__pycache__/
*.pyc

# virtual environment
grin_venv/

# IDE files
.vscode/
.idea/

# R files
.Rhistory
.Rproj.user
grin.Rproj

# Jupyter Notebook files
.ipynb_checkpoints

# Data
data/raw/
data/simulated_grt/

# Models and simulated data
*.h5
*.npz

# Results and artifacts
/results/
/model/
/figures/
