# Python-specific
__pycache__/
*.pyc

# virtual environment
grin_venv/

# IDE files
.vscode/
.idea/

# Jupyter Notebook files
.ipynb_checkpoints

# Data
data/raw/
data/simulated_grt/

# Results and artifacts
/results/
/model/
/figures/
